* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: #777777;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}

header {
    background-image: linear-gradient( to top left, rgba(58, 83, 245, 0.7), rgba(240, 240, 12, 0.7)), url(../jmg/index.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.input {
    margin: 0 35%;
    padding-top: 5%;
}

.input-text {
    width: 300px;
    height: 75px;
    padding-left: 70px;
    border-radius: 30px;
    position: relative;
    box-shadow: 0 5px 5px 3px black;
}

.input-logo {
    position: absolute;
    width: 4%;
    top: 11%;
    left: 35.5%;
    cursor: pointer;
}

.input-logo:active {
    transform: translateY(-1.5px);
}

/* -----------felll left---- */

.section-feel {
    position: relative;
}

.section-feel-text {
    width: 35%;
    top: 0;
    left: 30%;
    position: absolute;
    display: inline-block;
}

.section-feel-icon {
    width: 40%;
    top: 0;
    right: 0;
    filter: brightness(110%);
    animation: icon 2s linear;
    position: absolute;
    display: inline-block;
}

.section-feel-icon:hover {
    transform: translateY(-10px);
}

.section-feel-icon:active {
    transform: translateY(-2px);
}

/* felll left-1 */

.section-feel-1 {
    position: relative;
}

.section-feel-text-1 {
    width: 120%;
    top: 90px;
    position: absolute;
    display: inline-block;
}

.section-feel-icon-1 {
    width: 80%;
    top: 250px;
    left: 30px;
    filter: brightness(110%);
    animation: icon1 2s linear;
    position: absolute;
    display: inline-block;
}

.section-feel-icon-1:hover {
    transform: translateY(-10px);
}

.section-feel-icon-1:active {
    transform: translateY(-2px);
}

/* ----feel-right */

.section-feel-text-3 {
    width: 45%;
    left: 35%;
    position: absolute;
}

.section-feel-icon-3 {
    width: 45%;
    left: 0px;
    filter: brightness(110%);
    animation: icon 2s linear;
    position: absolute;
    display: inline-block;
}

.section-feel-icon-3:hover {
    transform: translateY(-10px);
}

.section-feel-icon-3:active {
    transform: translateY(-2px);
}

/* ---fell right-4 */

.section-feel-icon-4 {
    width: 80%;
    top: 320px;
    left: 0px;
    filter: brightness(110%);
    animation: icon1 2s linear;
    position: absolute;
    display: inline-block;
}

.section-feel-icon-4:hover {
    transform: translateY(-10px);
}

.section-feel-icon-4:active {
    transform: translateY(-2px);
}

.section-feel-text-4 {
    width: 90%;
    top: 150px;
    left: 0px;
    position: absolute;
}

/* ---feel right-5--- */

.section-feel-text-5 {
    width: 100%;
    top: 100px;
    position: absolute;
}

.section-feel-icon-5 {
    width: 90%;
    top: 250px;
    filter: brightness(110%);
    position: absolute;
}

.section-feel-icon-5:hover {
    transform: translateY(-10px);
}

.section-feel-icon-5:active {
    transform: translateY(-2px);
}

/* -----felll center */

.section-logo {
    position: relative;
}

.section-logo-img {
    width: 90%;
    animation-name: logo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.section-feel-icon-6 {
    width: 80%;
    position: absolute;
    top: 63%;
    right: 10%;
    filter: brightness(110%);
}

.section-feel-icon-6:hover {
    transform: translateY(-10px);
}

.section-feel-icon-6:active {
    transform: translateY(-2px);
}

@keyframes logo {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(10px);
    }
}

@keyframes icon {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes icon1 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}