*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: #777777;

}
header{
    background-image: linear-gradient( to top left, rgba(58, 83, 245, 0.7),rgba(240,240,12,0.7)), url(../jmg/index.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.input{
    margin: 0 35%;
    padding-top: 5%;
}
.input-text{
    width: 300px;
    height: 75px;
    padding-left: 70px;
    border-radius: 30px;
    position: relative;
    box-shadow: 0 5px 5px 3px black;
}
.input-logo{
    position: absolute;
    width: 4%;
    top:12%;
    left: 35.5%;
    cursor: pointer;
}
.logo{
    margin-left: 25%;
}
.logo-box{
    width: 50%;
    animation-name: logo;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes logo{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(9px);
    }
}


