* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: #777777;
    position: relative;
}
#body{
    background: linear-gradient(to left top ,rgba(20, 16, 228, 0.7),rgba(1, 0, 2, 0.918)),url(../jmg/smile-1.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}
/* -----header---- */
header{
    position: relative;
    margin-bottom: 40px;
    margin-top: 50px;
}
.header-logo{
    position: absolute;
    width: 10%;
    display: inline-block;
    animation-name: logo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.header-text{
    width: 400px;
    height: 100px;
    left: 35%;
    background: linear-gradient(to right top , rgba(17, 136, 240,0.8), rgba(202, 255 ,112,0.7));
    font-size: 120%;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
    color: black;
    border-radius: 25px;
    border: 2px solid yellowgreen;
    position: relative;
}
@keyframes logo{
    0%{
        transform: translateX(6px);
    }
    100%{
        transform: translateX(-5px);
    }
}
/* ------section---- */
section{
    margin: 0 20%;
    position: relative;
}
.section{
    position: relative;

}
.section-nhac{
    position: relative;
    height: 550px;
}
.section-nhac iframe,
.section-nhac img{
    box-shadow: 5px 0px 10px 5px green;
    margin-bottom: 15px;
}
.section-text{
    width: 25%;
    height: 40px;
    background: goldenrod;
    padding: 5px;
    text-align: center;
    color: black;
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 2px 6px 2px black;
    display: inline-block;
    position: absolute;
    left: 220%;
    top: 500px;
}
.section-text:active{
    transform: translateY(2px);
}
.section-nhac img:hover,
.section-nhac iframe:hover{
    transform: translateY(1px);
}