* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: #777777;
    position: relative;
}

#body {
    background: linear-gradient(to right top, rgba(189, 248, 27, 0.2), rgba(10, 10, 10, 0.8)), url(../jmg/smile-2.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
}

.clear {
    clear: both;
}

/* -----header---- */

header {
    position: relative;
    margin-bottom: 40px;
    margin-top: 50px;
}

.header-logo {
    position: absolute;
    width: 10%;
    display: inline-block;
    animation-name: logo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.header-text {
    width: 420px;
    height: 80px;
    left: 35%;
    background: rgb(240, 248, 255);
    font-weight: 700;
    text-align: center;
    line-height: 65px;
    color: black;
    border-radius: 25px;
    position: relative;
    font-size: 140%;
}

.header-img {
    width: 9%;

    margin-top: 15px;
}

@keyframes logo {
    0% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(-5px);
    }
}

/* -----------section--- */

section {
    margin: 0 20%;
    position: relative;
    height: 550px;
}
.section-btn {
    position: absolute;
    width: 120px;
    height: 30px;
    background: olive;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 2px 3px 5px black;
    top: 100%;
    left: 115%;
}
.section-btn-yes ,
.section-btn-no{
    top: 0;
}
.section-btn-no{
    left: -20%;
    background: red;
}
.section-btn-yes{
    top: 0;
    background: slategrey;
}
.section-btn:hover {
    transform: translateY(-3px);
}

.section-btn:active {
    transform: translateY(2px);
}
